* {
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.score {
    font-size: 1.5rem;
    margin-top: 10px;
    font-weight: 700;
}

.game {
    margin-top: 10px;
    width: 630px;
    height: 300px;
    border: 2px solid black;
    background-image: url(../images/background.jpg);
    background-size: cover;
    &_dino {
        height: 85px;
        width: 75px;
        background-image: url(../images/dino.png);
        background-size: cover;
        position: relative;
        left: 30px;
        top: 165px;
    }
    &_rock {
        height: 55px;
        width: 75px;
        background-image: url(../images/rock.png);
        background-size: cover;
        position: relative;
        top: 110px;
        left: 500px;
        animation: rock 1.33s infinite linear;
    }
}

@keyframes rock {
    0% {
        left: 500px;
    }
    100% {
        left: -75px;
    }
}

.jump-animation {
    animation: jump 0.5s linear;
}

@keyframes jump {
    0% {
        top: 155px;
    }
    50% {
        top: 50px;
    }
    75% {
        top: 50px;
    }
    100% {
        top: 155px;
    }
}